{% macro collectionEntity(entity) %}
  <!doctype html>
  <html>
    <title>chirp.social - {{ entity.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta name="description" content="{{ group.summary }}" />
    <link rel="stylesheet" href="/base.css" />
    <link rel="stylesheet" href="/index.css" />
    <body>          
      <div class="root">
        <div class="container">
          {{ header() }}
          <div class="regions">
            <p>
              View all {{ entity.totalItems }} here:
            </p>
            <div class="region">
              {{ pagination(entity) }}
            </div>
          </div>
        </div>
        <div class="right-rail">
          {% if entity.name == 'Shared' %}
            {{ directoryLink() }}

            {% if entity.attributedTo %}
              {% if not r/entity\/bot/.test(entity.attributedTo) %}
                <directory-entry entity-id="{{ entity.attributedTo }}"></directory-entry>
              {% endif %}
            {% endif %}
          {% endif %}
          {{ about() }}
        </div>
      </div>
      <script type="module" src="/group-entity.js"></script>
    </body>
  </html>
{% endmacro %}