{% macro collectionPageEntityPage(entity) %}
  <!doctype html>
  <html>
    <title>chirp.social - {{ entity.name }} - Page {{ entity.page }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/base.css" />
    <link rel="stylesheet" href="/index.css" />
    <body>
      <div class="root">
        <div class="container">
          {{ header() }}
          <div class="regions">
            {% set items = entity.items %}
            {% if entity.type == 'OrderedCollectionPage' %}
              {% set items = entity.orderedItems %}
            {% endif %}
            {% if items.length %}
              <div class="region">
                {{ paginationNav(entity) }}
              </div>
              {% for item in items %}
                {% if item.type == 'Collection' %}
                  <div class="region">
                    <a href="{{ item.id }}?sort=name">
                      <h2>{{ item.name }}</h2>
                      Groups: {{ item.totalItems }}
                    </a>
                  </div>
                {% endif %}
                {% if item.type == 'Group' %}
                  <div class="region">
                    {{ groupEntity(item) }}
                  </div>
                {% endif %}
                {% if item.type == 'Announce' %}
                  <textarea>
                    {{ item | dump }}
                  </textarea>
                  <div class="region">
                    {% if item.object.type == 'Tombstone' %}
                      <p>
                        Deleted.
                      </p>
                    {% else %}
                      {{ announcedEntity(item.object) }}
                    {% endif %}
                  </div>
                {% endif %}
                {% if item.type == 'Create' and item.object.id and item.object.type == 'Note' %}
                  <div class="region">
                    The group posted a Note:

                    <p>{{ item.object.content }}</p>
                  </div>
                {% endif %}
                {% if item.type == 'Create' and item.object.id and item.object.type == 'Group' %}
                  {{ groupEntity(item.object) }}
                {% endif %}
              {% endfor %}
              <div class="region">
                {{ paginationNav(entity) }}
              </div>
            {% else %}
              <div class="region">
                No posts yet.
              </div>
            {% endif %}
          </div>
        </div>
        <div class="right-rail">
          {% if attributedTo.url %}
            {% if not r/entity\/bot/.test(attributedTo) %}
              <div class="region">
                {{ groupEntity(attributedTo) }}
              </div>
            {% endif %}
          {% endif %}
          
          {{ directoryLink() }}

          <div class="region">
            <search-users-form entity-id="http://localhost:3000/entity/bot/outbox"></search-users-form>
          </div>

          {{ about() }}
        </div>
      </div>
      <script type="module" src="/group-entity.js"></script>
    </body>
  </html>
{% endmacro %}