{% macro collectionPageEntity(entity) %}
  <!doctype html>
  <html>
    <title>chirp.social - {{ entity.name }} - Page {{ entity.page }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/base.css" />
    <link rel="stylesheet" href="/index.css" />
    <body>
      <div class="root">
        <div class="container">
          {{ header() }}
          <div class="regions">
            {% set items = entity.items %}
            {% if entity.type == 'OrderedCollectionPage' %}
              {% set items = entity.orderedItems %}
            {% endif %}
            {% if items.length %}
              <div class="region">
                {{ pagination(entity) }}
              </div>
              {% for item in items %}
                {% if item.type == 'Collection' %}
                  <div class="region">
                    <a href="{{ item.id }}?sort=name">
                      <h2>{{ item.name }}</h2>
                      Groups: {{ item.totalItems }}
                    </a>
                  </div>
                {% endif %}
                {% if item.type == 'Group' %}
                  <div class="region">
                    {% if item.icon.url %}
                      <a href="{{ item.url }}/shared?current" style="display: block">
                        <img
                          class="avatar"
                          height="100"
                          width="100"
                          src="{{ item.icon.url }}"
                        />
                      </a>
                    {% endif %}
                    <a href="{{ item.url }}/shared?current">
                      <strong>
                        {{ item.name }}
                      </strong>
                    </a>
                    <dl>
                      <dt>
                        Handle
                      </dt>
                      <dd>
                        <a href="{{ item.url }}/shared?current">
                          @{{ item.preferredUsername }}@chirp.social
                        </a>
                      </dd>
                      <dt>
                        Bio
                      </dt>
                      <dd>
                        {{ item.summary | safe }}
                      </dd>
                      {% for attachment in item.attachment %}
                        <dt>
                          {{ attachment.name }}
                        </dt>
                        <dd>
                          {{ attachment.value | safe }}
                        </dd>
                      {% endfor %}
                      <dt>
                        Added
                      </dt>
                      <dd>
                        {{ item.published }}
                      </dd>
                    </dl>
                  </div>
                {% endif %}
                {% if item.type == 'Announce' %}
                  <div class="region">
                    <announce-entity entity-id="{{ item.id }}"></announce-entity>
                  </div>
                {% endif %}
                {% if item.type == 'Create' and item.object.id and item.object.type == 'Note' %}
                  <div class="region">
                    The group posted a Note:

                    <p>{{ item.object.content }}</p>
                  </div>
                {% endif %}
                {% if item.type == 'Create' and item.object.id and item.object.type == 'Group' %}
                  <directory-entry entity-id="{{ item.object.id }}"></directory-entry>
                {% endif %}
              {% endfor %}
              <div class="region">
                {{ pagination(entity) }}
              </div>
            {% else %}
              <div class="region">
                No posts yet.
              </div>
            {% endif %}
          </div>
        </div>
        <div class="right-rail">
          {% set firstCharacter = entity.name | first %}
          {% if entity.name == 'Shared' or entity.name == 'Hashtags' or firstCharacter == '#' %}
            {% if entity.attributedTo %}
              {% if not r/entity\/bot/.test(entity.attributedTo) %}
                <directory-entry entity-id="{{ entity.attributedTo }}"></directory-entry>
              {% endif %}
            {% endif %}

            {{ directoryLink() }}

            <div class="region">
              <search-users-form entity-id="http://localhost:3000/entity/bot/outbox"></search-users-form>
            </div>
          {% endif %}
          {{ about() }}
        </div>
      </div>
      <script type="module" src="/group-entity.js"></script>
    </body>
  </html>
{% endmacro %}