{% macro groupEntity(group) %}
  <div class="split">
    <div class="main-content">
      <a href="{{ group.url }}/shared?page=1&current" style="display: grid; align-content: flex-start; gap: 24px;">
        <h2>
          {{ group.name }}
        </h2>
        {% if group.icon.url %}
          <img
            class="avatar"
            height="100"
            width="100"
            src="{{ group.icon.url }}"
          />
        {% endif %}
      </a>
    </div>
    <div class="main-content">
      <dl>
        <dt>
          Handle
        </dt>
        <dd>
          <a href="{{ group.url }}/shared?page=1&current">
            @{{ group.preferredUsername }}@chirp.social
          </a>
        </dd>
        <dt>
          Bio
        </dt>
        <dd>
          {{ group.summary | safe }}
        </dd>
        {% for attachment in group.attachment %}
          <dt>
            {{ attachment.name }}
          </dt>
          <dd>
            {{ attachment.value | safe }}
          </dd>
        {% endfor %}
        <dt>
          Added
        </dt>
        <dd>
          {{ group.published }}
        </dd>
      </dl>
    </div>
  </div>
{% endmacro %}