{% macro groupEntityPage(entity) %}

<!doctype html>
<meta charset="utf-8" />
<title>@{{ entity.preferredUsername }}@chirp.social</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="{{ group.summary }}" />

<link rel="stylesheet" href="/new.css" />
<style>
  .main-content {
      display: grid;
      grid-gap: 24px;
    }
</style>
<div class="container">

  {{ nav() }}
  
  <div class="hero">
    <div class="hero-content">
      <h1>
        {% if entity.name %}
          {{ entity.name }}
        {% else %}
          @{{ entity.preferredUsername }}
        {% endif %}
      </h1>
    </div>
  </div>
</div>
<div class="theme-primary">
  <div class="container">
    <div class="split">
      <div class="main-content">
        <p>
          <strong>
            @{{ entity.preferredUsername }}@chirp.social
          </strong>
        </p>
        <p>
          <a href="{{ entity.url }}/shared?page=1&current">
            All Posts from
            @{{ entity.preferredUsername }}@chirp.social
          </a>
        </p>
        <dl>
          <dt>
            Group Summary
          </dt>
          <dd>
            {{ entity.summary | safe }}
          </dd>
          {% for attachment in entity.attachment %}
            <dt>
              {{ attachment.name }}
            </dt>
            <dd>
              {{ attachment.value | safe }}
            </dd>
          {% endfor %}
          <dt>
            Followers
          </dt>
          <dd>
            {{ followersCount }}
          </dd>
        </dl>
      </div>
      {% if entity.icon %}
        <img
          src="{{ entity.icon.url }}"
        />
      {% endif %}
    </div>
  </div>
</div>
<script type="module" src="group-entity.js"></script>
{% endmacro %}