{% macro sharedCollectionPageEntityPage() %}
  {% set shared = entity.orderedItems %}
  <!doctype html>
  <meta charset="utf-8" />
  <title>chirp.social - {{ entity.name }} - Page {{ entity.page }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="{{ group.summary }}" />
  <link rel="stylesheet" href="/new.css" />
  <style>
    .main-content {
        display: grid;
        grid-gap: 24px;
      }
  </style>
  <div class="container">
  
    {{ nav() }}
    
    <div class="hero">
      <div class="hero-content">
        <h1>
          {{ entity.attributedTo | stripDomain }}
        </h1>
      </div>
    </div>
  </div>
  <div class="theme-primary">
    <div class="container">
      <div class="main-content">
        <h2>
          Posts ({{ entity.totalItems }})
        </h2>
        {% if shared.length %}
          {{ paginationNav(entity) }}
        {% endif %}
        <div class="posts" id="posts">
          {% if shared.length %}
            {% for sharedItem in shared %}
              {% set post = sharedItem.object %}
              <div class="post">
                <div class="post-body">
                  <div class="post-body-inner post-body-inner--left">
                    <h3>
                      {% if post.published and post.url %}
                        <a
                          class="permalink"
                          target="_blank"
                          href="{{ post.id or post.url }}">
                          {{ post.published | dateFromNow }}
                        </a>
                      {% endif %}
                    </h3>
                    {% if post.attributedTo.url %}
                      <dl>
                        <dt aria-label="Avatar"></dt>
                        <dd>
                          <a
                            class="post-actor"
                            target="_blank"
                            href="{{ post.attributedTo.url }}">
                            {% if post.attributedTo.icon.url %}
                              <img
                                class="post-actor-avatar post-actor-avatar--small"
                                src="{{ post.attributedTo.icon.url }}"
                                height="70"
                                width="70"
                                alt="@{{ post.attributedTo.preferredUsername }}'s Avatar"
                              />
                            {% else %}
                              <span class="post-actor-avatar post-actor-avatar--small"></span>
                            {% endif %}
                          </a>
                        </dd>
                        <dt>
                          User
                        </dt>
                        <dd>
                          <a
                            class="post-actor-username"
                            target="_blank"
                            href="{{ post.attributedTo.url }}">
                            @{{ post.attributedTo.preferredUsername }}
                          </a>
                        </dd>
                        <dt>
                          Server
                        </dt>
                        <dd>
                          <a
                            class="post-actor-domain"
                            target="_blank"
                            href="https://{{ post.attributedTo.url | getHostname }}">
                            {{ post.attributedTo.url | getHostname}}
                          </a>
                        </dd>
                      </dl>
                    {% else %}
                      Member not found.
                    {% endif %}
                  </div>
                  <div class="post-body-inner post-body-inner--main">
                    {% if post.attachment %}
                      <div class="post-attachments">
                        {% if post.attachment.length %}
                          {% for attachment in post.attachment %}
                            {% if attachment.url %}
                              <a
                                href="{{ attachment.url }}"
                                target="_blank">
                                <img
                                  class="post-attachment"
                                  src="{{ attachment.url }}"
                                />
                              </a>
                            {% endif %}
                          {% endfor %}
                        {% else %}
                          {% if post.attachment.url %}
                            <a
                              href="{{ attachment.url }}"
                              target="_blank">
                              <img
                                height="250"
                                class="post-attachment"
                                src="{{ post.attachment.url }}"
                              />
                            </a>
                          {% endif %}
                        {% endif %}
                      </div>
                    {% endif %}
                    <div class="post-content">
                      {% if post.published and (post.id or post.url) %}
                        {{ post.content | safe }}
                      {% else %}
                        Post not found.
                      {% endif %}
                    </div>
                  </div>
                  <div class="post-body-inner post-body-inner--right">
                    <a href="{{ post.url or post.id }}" target="_blank">
                      View Post
                    </a>
                  </div>
                </div>
              </div>
              <hr />
            {% endfor %}
          {% endif %}
        </div>
        {% if shared.length %}
          <div class="pagination">
            <div class="pagination-inner pagination-inner--main">
              <div class="space-between">
                {{ paginationNav(entity) }}
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <script type="module" src="/collection-page.js"></script>
{% endmacro %}