{% macro homeNav(currentUrl) %}
  <nav role="navigation" class="tabs">
    <div class="tabs-inner tabs-inner--left">
    </div>
    <div class="tabs-inner tabs-inner--main">
      <details class="tabs-details">
        <summary>
          <svg aria-hidden="true" viewBox="0 0 1000 1000">
            <path d="M500,10C229.4,10,10,229.4,10,500c0,270.7,219.4,490,490,490c270.7,0,490-219.3,490-490C990,229.4,770.7,10,500,10z M500,924.7C265.8,924.7,75.3,734.2,75.3,500S265.8,75.3,500,75.3S924.7,265.8,924.7,500S734.2,924.7,500,924.7z"/>
            <path d="M761.3,467.3H238.7c-18,0-32.7,14.6-32.7,32.7c0,18,14.6,32.7,32.7,32.7h522.7c18,0,32.7-14.7,32.7-32.7C794,482,779.3,467.3,761.3,467.3z"/>
            <path d="M761.3,271.3H238.7c-18,0-32.7,14.6-32.7,32.7c0,18,14.6,32.7,32.7,32.7h522.7c18,0,32.7-14.6,32.7-32.7C794,286,779.3,271.3,761.3,271.3z"/>
            <path d="M761.3,663.3H238.7c-18,0-32.7,14.7-32.7,32.7s14.6,32.7,32.7,32.7h522.7c18,0,32.7-14.7,32.7-32.7C794,678,779.3,663.3,761.3,663.3z"/>
          </svg>
          Main Menu
        </summary>
        <ul class="tabs-list">
          <li>
            {% set url = '/home' %}
            <a href="{{ url }}" {% if currentUrl == url %}rel="current"{% endif %}>
              Profile
            </a>
          </li>
          <li>
            {% set url = '/home/posts' %}
            <a href="{{ url }}" {% if currentUrl == url %}rel="current"{% endif %}>
              Posts ({% if currentUrl == url %}{{ pagination.totalItems }}{% else %}{{ shared.length }}{% endif %})
            </a>
          </li>
          <li>
            {% set url = '/home/members' %}
            <a href="{{ url }}" {% if currentUrl == url %}rel="current"{% endif %}>
              Members ({% if currentUrl == url %}{{ pagination.totalItems }}{% else %}{{ members.length }}{% endif %})
            </a>
          </li>
          <li>
            {% set url = '/home/requests' %}
            <a href="{{ url }}" {% if currentUrl == url %}rel="current"{% endif %}>
              Requests ({% if currentUrl == url %}{{ pagination.totalItems }}{% else %}{{ requests.length }}{% endif %})
            </a>
          </li>
          <li>
            {% set url = '/home/blocked' %}
            <a href="{{ url }}" {% if currentUrl == url %}rel="current"{% endif %}>
              Blocked ({% if currentUrl == url %}{{ pagination.totalItems }}{% else %}{{ blocks.length }}{% endif %})
            </a>
          </li>
          <li>
            {% set url = '/home/managers' %}
            <a href="{{ url }}" {% if currentUrl == url or currentUrl == '/home/add-manager' %}rel="current"{% endif %}>
              Managers ({% if currentUrl == url %}{{ pagination.totalItems }}{% else %}{{ managers.length }}{% endif %})
            </a>
          </li>
          <li>
            {% set url = '/home/settings' %}
            <a href="{{ url }}" {% if currentUrl == url %}rel="current"{% endif %}>
              Settings
            </a>
          </li>
          <li>
            <button
              data-action="logout"
              type="button"
              id="logout-button">
              Log Out
            </button>
          </li>
        </ul>
      </details>
    </div>
  </nav>
{% endmacro %}