{% macro about() %}
  <section role="region" aria-labelledby="about-heading">
    <h2 id="about-heading">
      What is this?
    </h2>
    <p>
      This is an <a target="_blank" href="https://activitypub.rocks">ActivityPub</a> server that can interact with
      <a target="_blank" href="https://joinmastodon.org">Mastodon</a>. Every account created here is a Group account, which is a kind of bot for mass communication across servers.
      You can create a Group for anything.
    </p>
    <figure>
      <p>
        Any post addressed to a Group by a follower gets reposted
        by the Group account, for all followers to see.
      </p>
    </figure>
  </section>
{% endmacro %}