{% from "header.html" import header with context %}
{% from "about.html" import about with context %}

<!doctype html>
<html>
  <title>Directory | chirp.social: groups for the fediverse</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="base.css" />
  <link rel="stylesheet" href="index.css" />
  <style>
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      padding-bottom: 24px;
      border-bottom: 1px solid;
      margin-bottom: 24px;
    }

    @media (min-width: 1200px) {
      .list {
        padding: 32px;
        border-radius: 18px;
        background-color: var(--primary-color);
        color: var(--text-on-primary-color);
      }
    }
  </style>
  <body>
    <div class="root">
      <div class="container">
        {{ header() }}
        <ul class="list">
          {% for group in groups | reverse %}
            <li>
              <dl>
                <dt>
                  Fediverse Handle
                </dt>
                <dd>
                  <a href="{{ group.url }}">
                    @{{ group.preferredUsername }}@chirp.social
                  </a>
                </dd>
                <dt>
                  Name
                </dt>
                <dd>
                  {{ group.name ?? 'None' }}
                </dd>
                <dt>
                  Bio
                </dt>
                <dd>
                  {{ group.summary ?? 'None' }}
                </dd>
                <dt>
                  Added
                </dt>
                <dd>
                  {{ group.published }}
                </dd>
              </dl>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="right-rail">
        {{ about() }}
      </div>
    </div>
  </body>
</html>