{% from "partials/header.html" import header with context %}
{% from "partials/about.html" import about with context %}
{% from "partials/pagination.html" import pagination with context %}

{% from "entity/collection.html" import collectionEntity with context %}
{% from "entity/collectionPage.html" import collectionPageEntity with context %}
{% from "entity/group.html" import groupEntity with context %}

{% if entity.type === 'Collection' or entity.type === 'OrderedCollection' %}
  {{ collectionEntity(entity) }}
{% endif %}

{% if entity.type == 'CollectionPage' or entity.type == 'OrderedCollectionPage' %}
  {{ collectionPageEntity(entity) }}
{% endif %}

{% if entity.type === 'Group' %}
  {{ groupEntity(entity) }}
{% endif %}