<!doctype html>
<html>
  <body>
    {% if entity.streams %}
      {% for stream in streams %}
        {% if stream === entity.url + '/shared' %}
          <script type="module">
            fetch('{{ stream }}', {
              headers: {
                'Accept': 'application/activity+json',
              },
            }).then(res => res.json()).then(data => {
              console.log(data);
            })
          </script>
        {% endif %}
      {% endfor %}
    {% endif %}
  </body>
</html>