{% from "header.html" import header with context %}
{% from "about.html" import about with context %}

{% for type in entity.type %}
  {% if type === 'Group' %}
    {% if entity.streams %}
      {% for stream in entity.streams %}
        {% if stream === (entity.url + '/shared') %}
        <!doctype html>
          <html>
            <title>@{{entity.preferredUsername}}@chirp.social</title>
            <meta name="description" content="{{ group.summary }}" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <link rel="stylesheet" href="base.css" />
            <link rel="stylesheet" href="index.css" />
            <body>
              <div class="root">
                <div class="container">
                  {{ header() }}
                  <section role="region">
                    <group-entity
                      entity-type="Group"
                      entity-id="{{ entity.id }}"
                      entity-preferred-username="{{ entity.preferredUsername }}"
                      entity-name="{{ entity.name }}"
                      entity-summary="{{ entity.summary }}"
                      entity-icon="{{ entity.icon | dump }}"
                      entity-feed-id="{{ stream }}">
                    </group-entity>
                  </section>
                  <script type="module" src="group-entity.js"></script>
                </div>
                <div class="right-rail">
                  {{ about() }}
                </div>
              </div>
            </body>
          </html>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endif %}
{% endfor %}