{% from "partials/header.html" import header with context %}
{% from "entity/announcedEntity.html" import announcedEntity with context %}

<!doctype html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="utf-8" />
  <link rel="stylesheet" href="base.css" />
  <link rel="stylesheet" href="index.css" />
  <link rel="stylesheet" href="home.css" />
  <body>
    <div>
      <div class="root">
        <div class="container">
          {{  header()  }}
        </div>
        <div class="right-rail">
        </div>
      </div>
      <div class="root">
        <div class="container">
          <section>
            <h1>
              Managing 
              @{{ actor.preferredUsername }}@chirp.social
            </h1>
          </section>

          <section>
            <details open>
              <summary>
                Edit Profile
              </summary>
              <group-details
                group-actor-id="{{ actor.id }}"
                followers-url="{{ actor.followers }}"
                outbox-url="{{ actor.outbox.url }}"
                upload-media-url="{{ actor.endpoints.uploadMedia }}"
                {% if actor.attachment %}
                  {% for attachment in actor.attachment %}
                    {% if attachment.name == 'Group Manager' %}
                      manager="{{ attachment.value | e }}"
                    {% elif attachment.name == 'Group Rules' %}
                      rules="{{ attachment.value | e }}"
                    {% endif %}
                  {% endfor %}
                {% endif %}
                {% if actor.manuallyApprovesFollowers %}
                  manually-approves-followers
                {% endif %}
                {% if actor.sensitive %}
                  sensitive
                {% endif %}
                icon="{{ actor.icon | dump }}"
                name="{{ actor.name }}"
                summary="{{ actor.summary | e }}">
              </group-details>
            </details>
          </section>

          <section>
            <details>
              <summary>
                Post as the Group
              </summary>
              <post-form
                group-actor-id="{{ actor.id }}"
                followers-url="{{ actor.followers }}"
                outbox-url="{{ actor.outbox.url }}">
              </post-form>
            </details>
          </section>

          <section>
            <details open>
              <summary>
                Shared Statuses ({{ pagination.totalItems }})
              </summary>
              <div class="regions" id="posts">
                {% if shared.length %}
                  <div class="region">
                    <pagination-nav
                      first-page="{{ pagination.first }}"
                      prev-page="{{ pagination.prev }}"
                      next-page="{{ pagination.next }}"
                      last-page="{{ pagination.last }}">
                    </pagination-nav>
                  </div>
                  {% for post in shared %}
                    <div class="region">
                      <details class="flyout">
                        <summary aria-label="Options">
                          Options...
                        </summary>
                        <div>
                          <button
                            type="button"
                            class="button button--tag"
                            data-action="undo-announce"
                            data-entity-id="{{ post.id }}"
                            data-actor-id="{{ actor.id }}">
                            Delete
                          </button>
                        </div>
                      </details>
                      {{ announcedEntity(post.object) }}
                    </div>
                  {% endfor %}
                  <div class="region">
                    <pagination-nav
                      first-page="{{ pagination.first }}"
                      prev-page="{{ pagination.prev }}"
                      next-page="{{ pagination.next }}"
                      last-page="{{ pagination.last }}">
                    </pagination-nav>
                  </div>
                {% else %}
                  <p>
                    No posts yet.
                  </p>
                {% endif %}
              </div>
            </details>
          </section>
        </div>

        <div class="right-rail">
          <section>
            <button
              data-action="logout"
              type="button"
              class="button"
              id="logout-button">
              Log Out
            </button>
          </section>

          <section id="requests">
            <details>
              <summary>
                Follower Requests ({{ requests.length }})
              </summary>
              {% if requests.length %}
                <ul>
                  {% for request in requests %}
                    {% if request %}
                      <li>
                        <details class="flyout">
                          <summary aria-label="Options">
                            Options...
                          </summary>
                          <div>
                            <button
                              type="button"
                              class="button button--tag"
                              data-action="accept"
                              data-entity-id="{{ request.id }}"
                              data-actor-id="{{ actor.id }}">
                              Accept
                            </button>
                            <button
                              type="button"
                              class="button button--tag"
                              data-action="block"
                              data-entity-id="{{ request.actor.id }}"
                              data-actor-id="{{ actor.id }}">
                              Block
                            </button>
                          </div>
                        </details>
                        <a href="{{ request.actor.url }}">
                          @{{ request.actor.preferredUsername }}@{{ request.actor.url | getHostname }}
                        </a>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              {% else %}
                <p>
                  No follower requests.
                </p>
              {% endif %}
            </details>
          </section>

          <section>
            <details open>
              <summary>
                Administrators ({{ admins.length }})
              </summary>
              <div>
                <ul>
                  {% for admin in admins %}
                    <li>
                      {% if admin %}
                        {{ admin }}
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
                <details>
                  <summary class="button">
                    Add Administrator
                  </summary>
                  <form id="add-administrator-form" novalidate>
                    <label class="label">
                      <span class="label-text">
                        Admin Email
                      </span>
                      <input class="input" type="email" name="email" />
                      <p class="hint-text">
                        An email can only be associated with one Group.
                        Consider using <code>user<strong>+groupname</strong>@gmail.com</code>
                        if using Gmail or similar.
                      </p>
                      <p class="hint-text">
                        The user will need to follow the Forgot Password instructions
                        on the home page.
                      </p>
                      <p class="error-message">
                        
                      </p>
                    </label>
                    <label class="label">
                      <span class="label-text">
                        Admin Email (Repeat to Confirm)
                      </span>
                      <input class="input" type="email" name="email-confirm" />
                      <p class="hint-text">
                        There is no way to delete Administrators yet!
                      </p>
                      <p class="error-message">

                      </p>
                    </label>
                    <button type="submit" class="button">
                      Submit
                    </button>
                  </form>
                </details>
              </div>
            </details>
          </section>

          <section id="members">
            {% if members.length %}
              <details>
            {% else %}
              <details open>
            {% endif %}
              <summary>
                Members ({{ members.length }})
              </summary>
              {% if members.length %}
                <ul>
                  {% for member in members %}
                    {% if member %}
                      <li>
                        <details class="flyout">
                          <summary aria-label="Options">
                            Options...
                          </summary>
                          <div>
                            <button
                              type="button"
                              class="button button--tag"
                              data-action="block"
                              data-entity-id="{{ member.id }}"
                              data-actor-id="{{ actor.id }}">
                              Block
                            </button>
                          </div>
                        </details>
                        <a href="{{ member.url }}">
                          @{{ member.preferredUsername }}@{{ member.url | getHostname }}
                        </a>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              {% else %}
                <p>
                  You have no members following the group.
                  To get started, go to your personal Mastodon
                  account and search for
                  <strong>@{{ actor.preferredUsername }}@chirp.social</strong>
                  then follow it.
                </p>
              {% endif %}
            </details>
          </section>

          <section id="blocks">
            <details>
              <summary>
                Blocked ({{ blocks.length }})
              </summary>
              {% if blocks.length %}
                <ul>
                  {% for block in blocks %}
                    {% if block %}
                      <li>
                        <details class="flyout">
                          <summary aria-label="Options">
                            Options...
                          </summary>
                          <div>
                            <button
                              type="button"
                              class="button button--tag"
                              data-action="unblock"
                              data-entity-id="{{ block.id }}"
                              data-actor-id="{{ actor.id }}">
                              Block
                            </button>
                          </div>
                        </details>
                        @{{ block.object.preferredUsername }}@{{ block.object.url | getHostname }}
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              {% else %}
                <p>
                  No one is blocked.
                </p>
              {% endif %}
            </details>
          </section>

          <section>
            <details>
              <summary>
                Delete Group
              </summary>
              <div>
                <button
                  data-action="delete"
                  data-id="{{ actor.id }}"
                  type="button"
                  class="button button--tag">
                  Delete Group
                </button>
              </div>
            </details>
          </section>
        </div>
      </div>
    </div>
    <script type="module" src="home.js"></script>
  </body>
</html>