{% from "partials/header.html" import header with context %}
{% from "partials/paginationNav.html" import paginationNav with context %}

{% from "entity/announcedEntity.html" import announcedEntity with context %}
{% from "entity/groupEntity.html" import groupEntity with context %}

{% from "home/editProfile.html" import editProfile with context %}
{% from "home/posts.html" import postsPage with context %}
{% from "home/members.html" import membersPage with context %}

{% if url | getPathname === '/home/posts' %}
  {{ postsPage() }}
{% elif url | getPathname === '/home/members' %}
  {{ membersPage() }}
{% else %}
  {{ editProfile() }}
{% endif %}