<!doctype html>
<html>

<head>
  <title>chirp.social: groups for the fediverse</title>
  <meta name="description" content="Create groups for Mastodon and other ActivityPub-enabled apps." />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="base.css" />
  <link rel="stylesheet" href="index.css" />
</head>

<body>
  <div class="root">
    <div class="container">
      <h1 class="h1">
        chirp.social
        <span><i aria-hidden="true">~</i>fediverse groups<i aria-hidden="true">~</i></span>
      </h1>

      <section role="region" aria-labelledby="about-heading">
        <h2 id="about-heading">
          What is this?
        </h2>
        <p>
          This is an <a target="_blank" href="https://activitypub.rocks">ActivityPub</a> server that can interact with
          <a target="_blank" href="https://joinmastodon.org">Mastodon</a>.
        </p>
        <figure>
          <p>
            Any post addressed to a Group by a follower gets reboosted
            by the Group account, for all followers to see.
          </p>
        </figure>
      </section>

      <section role="region" aria-labelledby="how-heading">
        <h2 id="how-heading">
          How does this work?
        </h2>
        <ul>
          <li>
            Create an account on this page. All accounts are Group accounts.
          </li>
          <li>
            Anyone that follows the account can post to the Group.
          </li>
          <li>
            You can block people from getting reboosted by the Group.
          </li>
          <li>
            Everything is public and shows up in the timeline.
          </li>
          <li>
            Group accounts cannot post anything from here currently.
          </li>
          <li>
            This server is where you login and manage your Group.
          </li>
        </ul>
      </section>

      <section role="region" aria-labelledby="featured-heading">
        <h2 id="featured-heading">
          Featured Groups
        </h2>
        <ul>
          <li>
            <a href="/@art">@art</a>
          </li>
        </ul>
      </section>

      <section role="region" aria-labelledby="who-heading">
        <h2 id="who-heading">
          Who made this?
        </h2>
        <p>
          This is primarily a side project made by 
          <a target="_blank" href="https://github.com/michaelcpuckett">
            Michael Puckett
          </a>
        </p>
        <p>
          I'm using Firebase Authentication for sign-ups, so I can't see the passwords.
        </p>
        <p>
          Currently there is no way to change ownership, moderatation is limited, etc.
          Please contribute ideas/code on
          <a target="_blank" href="https://github.com/michaelcpuckett/ap-groups">
            Github
          </a>
        </p>
      </section>
    </div>

    <div class="right-rail">
      <header>
        <a href="/directory" class="button button--cta">
          Group Directory
          <span>See All Groups</span>
        </a>
      </header>
      <div class="forms">
        <div class="form">
          <h2 id="signup-heading">
            Sign Up for a Group
          </h2>
          <signup-form></signup-form>
        </div>
        <div class="form">
          <h2 id="login-heading">
            Log In to Manage Your Group
          </h2>
          <login-form></login-form>
        </div>
      </div>
      <footer role="contentinfo">
        <p>
          This is not a fork of Mastodon and is not affiliated with Mastodon. Everything is MIT licensed.
        </p>
      </footer>
    </div>
  </div>
  <script type="module" src="login.js"></script>
</body>

</html>