{% from "partials/nav.html" import nav with context %}

<!doctype html>
<meta charset="utf-8" />
<title>chirp.social - {{ entity.name }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/new.css" />
<style>
    .main-content {
      display: grid;
      grid-gap: 24px;
    }
</style>
<div class="container">

  {{ nav() }}
  
  <div class="hero">
    <div class="hero-content">
        <h1>
          Account
        </h1>
    </div>
  </div>
</div>

<div class="theme-primary">
  <div class="container">
    <div class="main-content">
      <div class="split">
        <section role="region" aria-labelledby="login-heading">
          <h2 id="login-heading">
            Log In
          </h2>
          <login-form></login-form>
        </section>
        <section role="region" aria-labelledby="signup-heading">
          <h2 id="signup-heading">
            Sign Up
          </h2>
          <signup-form></signup-form>
        </section>
      </div>
      <div class="split">
        <section role="region" aria-labelledby="forgot-password-heading">
          <h2 id="forgot-password-heading">
            Forgot Password?
          </h2>
          <forgot-password-form></forgot-password-form>
        </section>
      </div>
    </div>
  </div>
</div>
<script type="module" src="login.js"></script>
