{% macro addManagerPage() %}
  <!doctype html>
  <html>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/home-new.css" />
    <body>
      {{ loader() }}
      <div class="container">
        <div class="main-content">
          <main role="main">
            {{ homeNav(url | getPathname) }}
            <div class="pagination">
              <div class="pagination-inner pagination-inner--left">

              </div>
              <div class="pagination-inner pagination-inner--main">
                <div class="space-between">
                  <h2 class="heading">
                    Add a Group Manager
                  </h2>
                </div>
              </div>
            </div>
            <div class="posts" id="add-manager">
              <div class="post">
                <div class="post-body">
                  <div class="post-body-inner post-body-inner--left">
                    
                  </div>
                  <div class="post-body-inner post-body-inner--main">
                    <div class="post-content">
                      <p>
                        You can add someone to help manage the account.
                        <strong>After adding them, they will need to follow the Forgot Password instructions
                        on the home page</strong>.
                      </p>
                      <p class="error-message">
                        There is no way to delete Administrators yet!
                      </p>
                      <form id="add-administrator-form" novalidate>
                        <label class="label">
                          <span class="label-text">
                            Admin Email
                          </span>
                          <input class="input" type="email" name="email" control-id="ControlID-1">
                          <p class="hint-text">
                            An email can only be associated with one Group.
                            Consider using <code>user<strong>+groupname</strong>@gmail.com</code>
                            if using Gmail or similar.
                          </p>
                          <p class="error-message"></p>
                        </label>
                        <label class="label">
                          <span class="label-text">
                            Admin Email (Repeat to Confirm)
                          </span>
                          <input class="input" type="email" name="email-confirm" />
                          <p class="error-message"></p>
                        </label>
                        <button type="submit" class="button" control-id="ControlID-3">
                          Submit
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </main>
        </div>
      </div>
      <script type="module" src="/home.js"></script>
    </body>
  </html>
{% endmacro %}