{% macro announcementPage() %}
  <!doctype html>
  <html>
    <title>chirp.social - Announcement</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/home-new.css" />
    <body>
      {{ loader() }}
      <div class="container">
        <div class="main-content">
          <main role="main">
            {{ homeNav(url) }}
            <div class="pagination">
              <div class="pagination-inner pagination-inner--left">

              </div>
              <div class="pagination-inner pagination-inner--main">
                <div class="space-between">
                  <h2 class="heading">
                    Announcement
                  </h2>
                </div>
              </div>
            </div>
            <div class="announcement" id="add-manager">
              <div class="post">
                <div class="post-body">
                  <div class="post-body-inner post-body-inner--left">
                    
                  </div>
                  <div class="post-body-inner post-body-inner--main">
                    <div class="post-content">
                      <p>
                        You can make an announcement as the Group.
                      </p>
                      <form id="announcement-form" novalidate>
                        <input type="hidden" name="actor-id" value="{{ actor.id }}" />
                        <label class="label">
                          <span class="label-text">
                            Announcement
                          </span>
                          <textarea name="announcement" rows="6"></textarea>
                          <p class="error-message"></p>
                        </label>
                        <button type="submit" class="button">
                          Submit
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </main>
        </div>
      </div>
      <script type="module" src="/home.js"></script>
    </body>
  </html>
{% endmacro %}