{% macro blockedPage() %}
  <!doctype html>
  <html>
    <title>chirp.social - Blocked</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/home-new.css" />
    <body>
      {{ loader() }}
      <div class="container">
        <div class="main-content">
          <main role="main">
            {{ homeNav(url) }}
            <div class="pagination">
              <div class="pagination-inner pagination-inner--left">

              </div>
              <div class="pagination-inner pagination-inner--main">
                <div class="space-between">
                  <h2 class="heading">
                    Blocked ({{ pagination.totalItems }})
                  </h2>
                  {% if blocks.length %}
                    <pagination-nav
                      first-page="{{ pagination.first }}"
                      prev-page="{{ pagination.prev }}"
                      next-page="{{ pagination.next }}"
                      last-page="{{ pagination.last }}">
                    </pagination-nav>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="posts" id="blocked">
              {% if blocks.length %}
                {% for block in blocks %}
                  <div class="post">
                    <div class="post-body">
                      <div class="post-body-inner post-body-inner--left">
                        
                      </div>
                      <div class="post-body-inner post-body-inner--main">
                        <div class="post-content">
                          {% if not block.object.url %}
                            <p>Block not found.</p>
                          {% else %}
                            {% if block.object.icon.url %}
                              <a
                                class="post-actor"
                                target="_blank"
                                href="{{ block.object.url }}">
                                <img
                                  class="post-actor-avatar post-actor-avatar--small"
                                  src="{{ block.object.icon.url }}"
                                  height="70"
                                  width="70"
                                  alt=""
                                />
                              </a>
                            {% else %}
                              <span class="post-actor-avatar post-actor-avatar--small"></span>
                            {% endif %}
                            </a>
                            <h3>
                              <a
                                class="post-actor-username"
                                target="_blank"
                                href="{{ block.object.url }}">
                                @{{ block.object.preferredUsername }}</a><br />@<a
                                class="post-actor-domain"
                                target="_blank"
                                href="https://{{ block.object.url | getHostname }}">{{ block.object.url | getHostname}}
                              </a>
                            </h3>
                          {% endif %}
                        </div>
                      </div>
                      <div class="post-body-inner post-body-inner--right">
                        <details class="flyout-container">
                          <summary
                            aria-label="Options"
                            class="button">
                            Options...
                          </summary>
                          <ul class="flyout">
                            <li>
                              <button
                                type="button"
                                data-action="unblock"
                                data-entity-id="{{ block.id }}"
                                data-actor-id="{{ actor.id }}">
                                Unblock
                              </button>
                            </li>
                          </ul>
                        </details>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              {% else %}
                <div class="post">
                  <div class="post-body">
                    <div class="post-body-inner post-body-inner--left">
                      
                    </div>
                    <div class="post-body-inner post-body-inner--main">
                      No one is blocked.
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
            {% if blocks.length %}
              <div class="pagination">
                <div class="pagination-inner pagination-inner--left">

                </div>
                <div class="pagination-inner pagination-inner--main">
                  <div class="space-between">
                    <pagination-nav
                      first-page="{{ pagination.first }}"
                      prev-page="{{ pagination.prev }}"
                      next-page="{{ pagination.next }}"
                      last-page="{{ pagination.last }}">
                    </pagination-nav>
                  </div>
                </div>
              </div>
            {% endif %}
          </main>
        </div>
      </div>
      <script type="module" src="/home.js"></script>
    </body>
  </html>
{% endmacro %}