{% macro postsPage() %}
  <!doctype html>
  <html>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/home-new.css" />
    <body>
      <div class="container">
        <div class="main-content">
          <main role="main">
            {{ homeNav(url | getPathname) }}
            <div class="pagination">
              <div class="pagination-inner pagination-inner--left">

              </div>
              <div class="pagination-inner pagination-inner--main">
                <div class="space-between">
                  <h2 class="heading">
                    Posts ({{ pagination.totalItems }})
                  </h2>
                  {% if shared.length %}
                    <pagination-nav
                      first-page="{{ pagination.first }}"
                      prev-page="{{ pagination.prev }}"
                      next-page="{{ pagination.next }}"
                      last-page="{{ pagination.last }}">
                    </pagination-nav>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="posts" id="posts">
              {% if shared.length %}
                {% for sharedItem in shared %}
                  {% set post = sharedItem.object %}
                  <div class="post">
                    <div class="post-body">
                      <div class="post-body-inner post-body-inner--left">
                        <h3>
                          {% if post.published and post.url %}
                            <a
                              class="permalink"
                              target="_blank"
                              href="{{ post.url }}">
                              {{ post.published | dateFromNow }}
                            </a>
                          {% endif %}
                        </h3>
                        {% if post.attributedTo.url %}
                          <dl>
                            <dt aria-label="Avatar"></dt>
                            <dd>
                              <a
                                class="post-actor"
                                target="_blank"
                                href="{{ post.attributedTo.url }}">
                                {% if post.attributedTo.icon.url %}
                                  <img
                                    class="post-actor-avatar post-actor-avatar--small"
                                    src="{{ post.attributedTo.icon.url }}"
                                    height="70"
                                    width="70"
                                    alt=""
                                  />
                                {% else %}
                                  <span class="post-actor-avatar post-actor-avatar--small"></span>
                               {% endif %}
                              </a>
                            </dd>
                            <dt>
                              User
                            </dt>
                            <dd>
                              <a
                                class="post-actor-username"
                                target="_blank"
                                href="{{ post.attributedTo.url }}">
                                @{{ post.attributedTo.preferredUsername }}
                              </a>
                            </dd>
                            <dt>
                              Domain
                            </dt>
                            <dd>
                              <a
                                class="post-actor-domain"
                                target="_blank"
                                href="https://{{ post.attributedTo.url | getHostname }}">
                                {{ post.attributedTo.url | getHostname}}
                              </a>
                            </dd>
                          </dl>
                        {% else %}
                          Member not found.
                        {% endif %}
                      </div>
                      <div class="post-body-inner post-body-inner--main">
                        {% if post.attachment %}
                          <div class="post-attachments">
                            {% if post.attachment.length %}
                              {% for attachment in post.attachment %}
                                {% if attachment.url %}
                                  <a
                                    href="{{ attachment.url }}"
                                    target="_blank">
                                    <img
                                      class="post-attachment"
                                      src="{{ attachment.url }}"
                                    />
                                  </a>
                                {% endif %}
                              {% endfor %}
                            {% else %}
                              {% if post.attachment.url %}
                                <a
                                  href="{{ attachment.url }}"
                                  target="_blank">
                                  <img
                                    height="250"
                                    class="post-attachment"
                                    src="{{ post.attachment.url }}"
                                  />
                                </a>
                              {% endif %}
                            {% endif %}
                          </div>
                        {% endif %}
                        <div class="post-content">
                          {% if post.published and post.url %}
                            {{ post.content | safe }}
                          {% else %}
                            Post not found.
                          {% endif %}
                        </div>
                      </div>
                      <div class="post-body-inner post-body-inner--right">
                        <details class="flyout-container">
                          <summary
                            aria-label="Options"
                            class="button">
                            Options...
                          </summary>
                          <ul class="flyout">
                            <li>
                              <button
                                type="button"
                                data-action="undo-announce"
                                data-entity-id="{{ sharedItem.id }}"
                                data-actor-id="{{ actor.id }}">
                                Delete Post
                              </button>
                            </li>
                            <li>
                              <button
                                type="button"
                                data-action="block"
                                data-entity-id="{{ post.attributedTo.id }}"
                                data-actor-id="{{ actor.id }}">
                                Block Member
                              </button>
                            </li>
                          </ul>
                        </details>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              {% else %}
                <div class="post">
                  <div class="post-body">
                    <div class="post-body-inner post-body-inner--left">
                      
                    </div>
                    <div class="post-body-inner post-body-inner--main">
                      No posts yet.
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
            {% if shared.length %}
              <div class="pagination">
                <div class="pagination-inner pagination-inner--main">
                  <div class="space-between">
                    <pagination-nav
                      first-page="{{ pagination.first }}"
                      prev-page="{{ pagination.prev }}"
                      next-page="{{ pagination.next }}"
                      last-page="{{ pagination.last }}">
                    </pagination-nav>
                  </div>
                </div>
              </div>
            {% endif %}
          </main>
        </div>
      </div>
      <script type="module" src="/home.js"></script>
    </body>
  </html>
{% endmacro %}