{% macro settingsPage() %}
  <!doctype html>
  <html>
    <title>chirp.social - Settings</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/home-new.css" />
    <body>
      {{ loader() }}
      <div class="container">
        <div class="main-content">
          <main role="main">
            {{ homeNav(url | getPathname) }}
            <div class="pagination">
              <div class="pagination-inner pagination-inner--left">

              </div>
              <div class="pagination-inner pagination-inner--main">
                <div class="space-between">
                  <h2 class="heading">
                    Settings
                  </h2>
                </div>
              </div>
            </div>
            <div class="posts" id="settings">
              <div class="post">
                <div class="post-body">
                  <div class="post-body-inner post-body-inner--left">
                    
                  </div>
                  <div class="post-body-inner post-body-inner--main">
                    <div class="post-content">
                      <details>
                        <summary>
                          Delete Group
                        </summary>
                        <div style="padding: 24px 0">
                          <button
                            type="button"
                            class="button"
                            data-entity-id="{{ actor.id }}"
                            data-action="delete-group">
                            Delete @{{ actor.preferredUsername }} Permanently!
                          </button>
                        </div>
                      </details>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </main>
        </div>
      </div>
      <script type="module" src="/home.js"></script>
    </body>
  </html>
{% endmacro %}