* {
  box-sizing: border-box;
}

:root {
  color-scheme: dark only;
  --dark-background-color: #001616;
  --text-on-dark-background-color: white;
  --medium-background-color: #037d7e;
  --text-on-medium-background-color: white;
  --light-background-color: #eff3f6;
  --text-on-light-background-color: #002424;
  --primary-color: #002424;
  --text-on-primary-color: white;
  --link-color: #36c7ff;
  --error-color: red;
  --accent-color: #80f9ff;
  --text-on-accent-color: #300303;
  --box-shadow: 0 4px 2px var(--dark-background-color);
}

@font-face {
  font-family: 'Passion';
  src: url('passion.ttf');
}

@font-face {
  font-family: 'Lato';
  src: url('lato.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('lato-bold.ttf');
  font-weight: bold;
}

html {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  flex: 1 0 auto;
  min-height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: Lato, system-ui, sans-serif;
  margin: 0;
  display: grid;
  grid-template-columns: 100%;
  gap: 24px;
  background-color: var(--primary-color);
  color: var(--text-on-primary-color);
  font-size: 20x;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

@media (min-width: 1200px) {
  body {
    background-color: var(--medium-background-color);
    color: var(--text-on-medium-background-color);
  }
}

img {
  max-width: 100%;
}

a {
  color: var(--link-color);
}

ol {
  list-style-position: inside;
  display: grid;
  padding-left: 0;
  gap: 12px;
}

button {
  appearance: none;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  font: inherit;
  line-height: inherit;
  background: transparent;
  display: inline-flex;
  min-height: 48px;
  min-width: 48px;
  place-items: center;
  place-content: center;
  width: max-content;
}

.button {
  background-color: var(--dark-background-color);
  color: var(--text-on-dark-background-color);
  border: 1px solid;
  border-radius: 8px;
  padding: .5em .875em;
  text-decoration: none;
}

.button--cta {
  font-weight: bold;
  background: var(--accent-color);
  color: var(--text-on-accent-color);
  font-size: 1.5em;
  border-radius: 12px;
  padding: 12px 16px;
  place-items: center;
  place-content: center;
  display: grid;
  text-align: center;
}

@media (min-width: 1200px) {
  .button-cta {
    margin-bottom: 0;
  }
}