* {
  box-sizing: border-box;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

:root {
  color-scheme: dark only;
  --dark-background-color: #001616;
  --text-on-dark-background-color: white;
  --medium-background-color: #088F72;
  --text-on-medium-background-color: white;
  --light-background-color: #eff3f6;
  --text-on-light-background-color: #002424;
  --primary-color: #1a1a1a;
  --text-on-primary-color: white;
  --accent-color: #14dac3;
  --link-color: var(--accent-color);
  --error-color: red;
  --text-on-accent-color: #300303;
  --box-shadow: 0 4px 2px var(--dark-background-color);
}

@font-face {
  font-family: 'Passion';
  src: url('passion.ttf');
}

@font-face {
  font-family: 'Lato';
  src: url('lato.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('lato-bold.ttf');
  font-weight: bold;
}

html {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  flex: 1 0 auto;
  min-height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: Lato, system-ui, sans-serif;
  margin: 0;
  display: grid;
  grid-template-columns: 100%;
  gap: 24px;
  background: var(--primary-color);
  color: var(--text-on-primary-color);
  font-size: 20x;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

@media (min-width: 1200px) {
  body {
    background: var(--medium-background-color);
    color: var(--text-on-medium-background-color);
  }
}

img {
  max-width: 100%;
}

a {
  color: var(--link-color);
}

h1 {
  text-align: center;
  color: white;
  text-shadow: 0 3px 0 black;
  font-size: 2.25em;
  line-height: 1.25;
  margin: 0;
  font-family: 'passion', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

ol {
  list-style-position: inside;
  display: grid;
  padding-left: 0;
  gap: 12px;
}

dl {
  display: grid;
  grid-template-columns: max-content minmax(0, 1fr)
}

dt {
  font-weight: bold;
}

code {
  font-size: 1.125em;
  font-family: monospace;
}

button {
  appearance: none;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  font: inherit;
  line-height: inherit;
  background: transparent;
  display: inline-flex;
  min-height: 48px;
  min-width: 48px;
  place-items: center;
  place-content: center;
  width: max-content;
}

.button {
  background-color: var(--light-background-color);
  color: var(--text-on-light-background-color);
  border-radius: 0;
  padding: .5em .875em;
  text-decoration: none;
  box-shadow: 1px 2px 1px black;
  border: 1px solid;
}

.button--cta {
  font-weight: bold;
  background: var(--accent-color);
  color: var(--text-on-accent-color);
  font-size: 1.5em;
  border-radius: 0;
  padding: 12px 16px;
  place-items: center;
  place-content: center;
  display: grid;
  text-align: center;
}

@media (min-width: 1200px) {
  .button-cta {
    margin-bottom: 0;
  }
}

.regions {
  display: grid;
}

.region {
  padding: 32px;
  border-radius: 0;
  background-color: var(--dark-background-color);
  font-size: 1.125em;
  color: var(--text-on-dark-background-color);
  border: 1px solid;
}

@media (min-width: 600px) {
  .announce-entity {
    display: grid;
    gap: 16px;
    grid-template-columns: 200px minmax(0, 1fr);
  }
}

.left-rail {
  display: flex;
  flex-direction: column;
  align-items: center;
}