.h1 {
  text-align: center;
  color: white;
  text-shadow: 0 3px 0 black;
  font-size: 3.75em;
  line-height: 1.25;
  border-radius: 0;
  background-color: var(--dark-background-color);
  text-decoration: none;
  font-family: 'passion', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1;
  position: relative;
}

.h1 svg {
  width: 80px;
  height: 80px;
}

@media (max-width: 899px) {
  .h1 svg {
    display: block;
    margin: 0 auto;
    
  }
}

@media (min-width: 900px) {
  .h1 {
    text-align: left;
    padding-left: 104px;
  }

  .h1 svg {
    margin-left: -80px;
    position: absolute;
  }
}

.h1 span {
  display: block;
  font-size: .48em;
}

header > .h1 {
  margin-left: auto;
  margin-right: auto;
}