* {
  box-sizing: border-box;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

:root {
  --primary-color: #14dac3;
  --accent-color: #015252;
  --error-color: red;
  --light-background-color: #14dac3;
  --text-on-light-background-color: black;
}

body {
  font-family: system-ui, sans-serif;
  margin: 0;
  display: grid;
  width: 100%;
  background: #001616;
  color: white;
}

.container {
  padding: 8px;
  display: grid;
  gap: 8px;
}

@media (min-width: 1200px) {
  .container {
    padding: 24px;
    gap: 24px;
  }
}

main {
  display: grid;
  gap: 32px;
}

img {
  max-width: 100%;
}

textarea,
input {
  font: inherit;
  line-height: inherit;
  width: 100%;
}

.textarea,
.input {
  padding: .5em;
  border: 1px solid;
  border-radius: 0;
  font-size: .875em;
  font-weight: normal;
  background-color: var(--dark-background-color);
  color: var(--text-on-dark-background-color);
}

a {
  color: #14dac3;
}

button,
a.button {
  appearance: none;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  font: inherit;
  line-height: inherit;
  background: transparent;
  min-height: 48px;
  min-width: 48px;
  place-items: center;
  place-content: center;
  width: max-content;
  cursor: pointer;
}

.button:not([hidden]) {
  display: inline-flex;
}

.button,
a.button {
  border-radius: 8px;
  padding: 4px 8px;
  text-decoration: none;
  border: 1px solid;
  background: #14dac3;
  color: black;
  font-weight: bold;
}

.button.button--cta {
  font-size: 1.5em;
  width: 100%;
  margin: 6px 0;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
}

.header--home {
  height: 3em;
}

.group-avatar {
  flex: 0 0 auto;
  width: max-content;
  background-color: var(--accent-color);
  color: white;
  height: 100%;
  display: flex;
  padding: 12px;
}

.group-avatar img {
  height: 1.5em;
  overflow: hidden;
  border-radius: 100%;
}

.flyout-container {
  position: relative;
}

summary {
  appearance: none;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  font: inherit;
  line-height: inherit;
  background: transparent;
  place-items: center;
  place-content: center;
  width: 100%;
  cursor: pointer;
}

.flyout {
  position: absolute;
  display: block;
  padding: 16px;
  box-shadow: 0 0 3px black, 0 0 6px rgba(0, 0, 0, .5);
  background: white;
  border-radius: 8px;
  left: 0;
  top: 100%;
  margin: 0;
  width: 100%;
  list-style: none;
  text-align: left;
  color: black;
  z-index: 1;
}

.flyout-container summary {
  display: inline-flex;
  min-height: 48px;
  min-width: 48px;
}
.flyout a {
  min-height: 48px;
  min-width: 48px;
  display: inline-grid;
  text-decoration: none;
  color: inherit;
}

.flyout a,
.flyout button {
  width: 100%;
  justify-content: flex-start;
  text-align: left;
  align-items: center;
}

.post {
  display: grid;
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
  gap: 16px;
}

.pagination {
  max-width: 1600px;
  margin: 0 auto;
}

.pagination,
.post-body {
  display: grid;
  column-gap: 16px;
  width: 100%;
  grid-template-columns: 100%;
}

.tabs {
  display: grid;
  column-gap: 16px;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  grid-template-columns: 100%;
}

@media (min-width: 1200px) {
  .pagination,
  .post-body,
  .tabs {
    grid-template-columns: 280px minmax(0, 1fr) 280px;
    grid-auto-flow: column;
  }
  
  .pagination-inner--main,
  .tabs-inner--main {
    grid-column: 2 / 3;
  }
}

.tabs-inner--main {
  position: relative;
  font-size: 1.125em;
  font-weight: bold;
}

.space-between {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

@media (max-width: 1199px) {
  .space-between--break-on-mobile {
    flex-direction: column;
    place-items: center;
  }
}

.space-between > * {
  flex: 0 1 auto;
}

.post-body-inner--left {
  display: grid;
  height: max-content;
}


@media (max-width: 1199px) {
  .post-body-inner--right {
    grid-row: 2 / 3;
  }
}

@media (min-width: 1200px) {
  .post-body-inner--left {
    text-align: right;
    justify-items: flex-end;
  }
}

@font-face {
  font-family: 'Passion';
  src: url('passion.ttf');
}

h1,
h2,
h3 {
  margin: 0;
  font-family: 'passion', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}

h1 {
  font-size: 3em;
  text-align: center;
  margin: 0 auto;
}

h1 span {
  font-size: .75em;
  display: block;
}

h2 {
  font-size: 2.5em;
}

.post-body-inner--main {
  box-shadow: inset 0 0 2.5px black, 0 0 2.5px black;
  border-radius: 4px;
  background: white;
  color: #001616;
}

.post-body-inner--main a {
  color: #001616;
}

.post-body-inner--main {
  padding: 16px;
}

.post-actor {
  display: grid;
}

@media (min-width: 1200px) {
  .post-body-inner--left .post-actor {
    justify-content: flex-end;
  }
}

.post-attachments {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.post-attachment {
  display: grid;
  max-height: 250px;
  border-radius: 4px;
  overflow: hidden;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0;
}

@media (max-width: 1199px) {
  dl {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 16px;
  }

  dt {
   text-align: right; 
  }
}

@media (min-width: 1200px) {
  dd + dt {
    margin-top: 16px;
  }
}

.posts {
  display: flex;
  gap: 32px;
  flex-direction: column;
}

.post-body-inner--left h2,
.post-body-inner--right h2 {
  font-size: 1.5em;
}

@media (min-width: 1200px) {
  .tabs {
    line-height: 1;
  }
}

@media (max-width: 1199px) {
  .tabs {
    grid-template-columns: .5fr .5fr;
    column-gap: 16px;
  }

  .tabs-inner--main {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
  }
  
  .tabs-inner--right {
    display: grid;
    justify-content: flex-end;
  }

  .post {
    padding-bottom: 64px;
    position: relative;
    padding: 16px;
    border: 1px solid;
    border-radius: 16px;
  }
}

.tabs-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

.tabs-details a,
.tabs-details button {
  display: flex;
  padding: 16px;
  white-space: nowrap;
  box-shadow: inset 0 0 2.5px black, 0 0 2.5px black;
  text-decoration: none;
  background-color: #015252;
  color: white;
  width: 100%;
  justify-content: flex-start;
}

.tabs-inner--main a[rel="current"] {
  background-color: white;
  color: black;
}

.tabs-navigation {
  display: grid;
  height: 100%;
}

.tabs-navigation .button {
  height: 100%;
  background: white;
  color: black;
  position: relative;
  z-index: 1;
  border-radius: 4px;
}

.tabs-inner--left {
  display: grid;
  align-items: center;
}

@media (min-width: 1200px) {
  .tabs-inner--left {
    justify-content: flex-end;
  }
}

.pagination-inner--right .button,
.tabs-inner--right .button {
  width: 100%;
}

.post-actor-avatar {
  display: grid;
  width: 70px;
  height: 70px;
  background-color: var(--accent-color);
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
}

#members .post-content {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto minmax(0, 1fr);
  gap: 16px;
}


.label {
  display: flex;
  flex-direction: column;
}

.label-text {
  display: block;
}

.error-message {
  color: var(--error-color);
  display: block;
  font-weight: bold;
}

form:not(.has-error) .error-message {
  display: none;
}

form .button[type="submit"] {
  width: 100%;
  margin: 16px 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

.tabs-details {
  display: grid;
  height: 100%;
  width: 100%;
}

.tabs-details summary {
  display: grid;
  height: 100%;
  background: #14dac3;
  grid-auto-flow: column;
  grid-template-rows: 100%;
  gap: 12px;
  grid-template-columns: 1.5em auto;
  justify-content: flex-start;
  padding: 6px 12px;
  color: black;
}

.tabs-details summary svg {
  height: 1.5em;
}

.form + .form {
  margin-top: 1em;
}

#back-button {
  gap: 6px;
  font-size: .875em;
}

#back-button svg {
  height: 1em;
  fill: currentColor;
}

#loader[open] {
  display: grid;
  place-items: center;
  place-content: center;
  border: 0;
  border-radius: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  z-index: 9999;
  gap: 24px;
  background-color: #015252;
  color: white;
}

#loader svg {
  animation: linear 4s loader infinite;
  fill: var(--primary-color);
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(360eg);
  }

  75% {
    transform: rotate(540deg);
  }

  100% {
    transform: rotate(720deg);
  }
}