.h1 {
  text-align: center;
  color: white;
  text-shadow: 0 3px 0 black;
  font-size: 3.75em;
  line-height: 1.25;
  padding: .5em 0;
  margin: 0;
  border-radius: 0;
  background-color: var(--dark-background-color);
  text-decoration: none;
  font-family: 'passion', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1;
  position: relative;
}

.h1 svg {
  width: 80px;
  height: 80px;
}

@media (max-width: 1199px) {
  a.h1 { 
    border: 1px solid;
  }

  .h1 svg {
    display: block;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .h1 {
    text-align: left;
    padding-left: 104px;
  }

  .h1 svg {
    margin-left: -80px;
    position: absolute;
  }
}

.h1 span {
  display: block;
  font-size: .48em;
}

h2 {
  margin: 0;
}

.container {
  display: grid;
  align-content: flex-start;
  border: 1px solid white;
}

.container h2 {
  font-size: 2em;
  border: 1px 
}

p {
  margin: 0;
}

p + p {
  margin-top: 1em;
}

figure {
  background-color: var(--light-background-color);
  color: var(--text-on-light-background-color);
  max-width: max-content;
  margin: 8px auto;
  padding: 8px calc(8px + 1em);
  border-radius: 0;
  font-size: 1.125em;
}

.avatar {
  border-radius: 50%;
}

.root {
  display: grid;
  align-content: flex-start;
}

header a span {
  display: block;
  font-size: .75em;
  font-weight: normal;
}

.forms,
.form {
  gap: 24px;
  display: grid;
}

.right-rail {
  gap: 24px;
  display: grid;
  border: 1px solid white;
}

.right-rail h2 {
  text-align: center;
}

@media (min-width: 1200px) {
  .root {
    grid-template-columns: 2.5fr 1fr;
  }
  
  .container {
    grid-column: 1 / 2;
    display: grid;
    border: 1px solid white;
  }

  .right-rail {
    padding: 32px;
    grid-column: 2 / 3;
    background-color: var(--dark-background-color);
    color: var(--text-on-dark-background-color);
    border-radius: 0;
    overflow: hidden;
    align-content: flex-start;
  }

  signup-form,
  login-form,
  forgot-password-form {
    background-color: var(--light-background-color);
    color: var(--text-on-light-background-color);
    border-radius: 0;
  }

  .container section {
    padding: 32px;
    border-radius: 0;
    background-color: var(--dark-background-color);
    color: var(--text-on-dark-background-color);
  }
}

.directory-entry {
  display: grid;
  gap: 24px;
  grid-template-columns: 100px minmax(0, 1fr);
  grid-template-rows: auto auto;
}

.directory-entry a:first-of-type:not(:last-of-type) {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.directory-entry a:last-of-type {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.directory-entry dl {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}