h1 {
  font-size: 1em;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.form-container {
  display: grid;
  max-width: max(480px, calc((1 / 3) * 100vw));
}

figure code {
  font-size: 1.5em;
}

header,
footer {
  padding: 24px;
  background: var(--primary-color);
  color: var(--text-on-primary-color);
  font-size: 1.25em;
}

header {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

footer {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.container {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.root {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: max-content max-content;
  padding: 24px;
  gap: 24px;
}

.right-rail {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.container p {
  font-size: 1.125em;
}