
@font-face {
  font-family: 'Passion';
  src: url('passion.ttf');
}
* {
    box-sizing: border-box;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}
:root {
    font-size: 24px;
    line-height: 1.5;
    --primary-color: rgb(2, 82, 82);
    --secondary-color: rgb(190, 242, 242);
    --accent-color: rgb(225, 125, 5);
}
body {
    margin: 0;
    font-family: sans-serif;
    background: var(--secondary-color);
}
img {
    max-width: 100%;
}
a {
    color: var(--primary-color);
}
h1 {
    color: var(--primary-color);
    font-size: 56px;
    margin: 0;
    line-height: 1;
    font-family: 'passion', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    color: var(--primary-color);
}
@media (min-width: 960px) {
  h1 {
    font-size: 72px;
  }
}
h2 {
    font-size: 36px;
    margin: 0;
    line-height: 1;
    font-family: 'passion', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    color: var(--primary-color);
}
@media (min-width: 960px) {
  h2 {
    font-size: 48px;
  }
}
hr {
  width: 100%;
}
.container {
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto;
    max-width: 1200px;
    margin: 0 auto;
    padding: 24px;
}
@media (min-width: 960px) {
  .container {
    padding: 48px;
  }
}
nav {
    display: flex;
    flex-wrap: wrap;
    row-gap: 12px;
    column-gap: 12px;
}
@media (max-width: 959px) {
    nav {
        flex-direction: column;
    }
}
@media (min-width: 960px) {
  nav {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
}
nav a {
    padding: 12px 24px;
    border-radius: 12px;
    max-width: max-content;
}
@media (max-width: 959px) {
  nav a {
    padding: 6px 12px;
  }
  nav a:not(:last-of-type) {
    margin-left: -12px;
  }
}
nav a:first-of-type {
  font-weight: bold;
}

nav a:last-of-type {
  background: var(--accent-color);
  color: white;
}
@media (min-width: 960px) {
    nav a:last-of-type {
      margin-left: 12px;
    }
}
.hero {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    padding: 48px 0;
    display: grid;
    gap: 48px;
}
@media (min-width: 960px) {
    .hero {
        gap: 96px;
        padding-top: 192px;
        grid-template-columns: 1fr 1fr;
    }
}
.hero img {
  border-radius: 12px;
}
.theme-primary {
    background: var(--primary-color);
    color: white;
}
.theme-primary a {
    color: white;
}
.theme-primary h2 {
    color: var(--secondary-color);
}
.split {
    display: grid;
    gap: 48px;
    padding: 48px 0;
}
@media (min-width: 960px) {
    .split {
        grid-template-columns: 1fr 1fr;
    }
}
.split img {
  border-radius: 12px;
}
@media (max-width: 959px) {
    .split img {
        grid-row: 2 / 3;
    }
}